* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 179, 86);
  height: 100vh;
  width: auto;
  margin: 0 20% 0 20%;
  display: grid;
  grid-template-rows: 15% 1fr 15%;
}

button {
  position: absolute;
  top: 60px;
  right: 30px;
  height: 50px;
  width: 120px;
  margin-right: 100px;
}

h1 {
  color: rgb(214, 33, 33);
  font-size: 4em;
  text-align: center;
  margin-top: 20px;
}

.connect {
  height: 150px;
  width: 250px;
  position: absolute;
  top: 60px;
  right: 40px;
  margin-right: 50px;
  visibility: hidden;
}

img {
  height: 600px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.flag {
  position: absolute;
  left: 250px;
  height: 50px;
  width: 95px;
}

footer {
  margin-top: 50px;
}

.coright {
  margin-left: 60px;
}
